html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

h1 {
  margin-top: 0;
}

h2 {
	font-size: 0.8em;
	text-transform: Titlecase;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	color: #333;
}



img:-webkit-full-screen {
	max-width: none;
}

img:-moz-full-screen {
	max-width: none;
}

img:-ms-fullscreen {
  max-width: none;
}

img:full-screen {
	max-width: none;
}

img:fullscreen {
	max-width: none;
}




body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#container {
  height: 100%;
  width: 100%;

}

#product-svg {
  position: relative;
  z-index: 1;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply;
}

#product-shape {
  fill: #a1a1a1;
}

#product-shape2 {
  fill: #a1a1a1;
}


#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

#overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  mix-blend-mode: soft-light;
}

.colorsr1 {
  display: flex;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 3;
}

.colorsr2 {
  display: flex;
  position: fixed;
  bottom: 3.3em;
  right: 1em;
  z-index: 3;
}

.colorsr3 {
  display: flex;
  position: fixed;
  bottom: 5.6em;
  right: 1em;
  z-index: 3;
}

.colorsr4 {
  display: flex;
  position: fixed;
  bottom: 7.95em;
  right: 1em;
  z-index: 3;
}

.colorsr5 {
  display: flex;
  position: fixed;
  bottom: 10.25em;
  right: 1em;
  z-index: 3;
}

.colorsr6 {
  display: flex;
  position: fixed;
  bottom: 12.55em;
  right: 1em;
  z-index: 3;
}

.colorsl1 {
  display: flex;
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 3;
}

.colorsl2 {
  display: flex;
  position: fixed;
  bottom: 3.3em;
  left: 1em;
  z-index: 3;
}

.colorsl3 {
  display: flex;
  position: fixed;
  bottom: 5.6em;
  left: 1em;
  z-index: 3;
}

.colorsl4 {
  display: flex;
  position: fixed;
  bottom: 7.95em;
  left: 1em;
  z-index: 3;
}

.colorsl5 {
  display: flex;
  position: fixed;
  bottom: 10.25em;
  left: 1em;
  z-index: 3;
}

.colorsl6 {
  display: flex;
  position: fixed;
  bottom: 12.55em;
  left: 1em;
  z-index: 3;
}


.fullscreen {
  height: 20px;
  display: flex;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 3;
}

.color {
  height: 32px;
  width: 32px;
  margin-left: 0.5em;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 1px solid #ffffff;
  cursor: pointer;
}

.color:hover {
  position: relative;
  top: -3px;
  box-shadow: -3px 7px 6px 1px rgba(90, 90, 90, .12);
}


.color2 {
  height: 32px;
  width: 32px;
  margin-left: 0.5em;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 1px solid #ffffff;
  cursor: pointer;
}
 
button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.8rem;
  padding: 0rem 0.9em;
  background: #476089;
  border-bottom: 1px solid #000000;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin: 0em 0.1rem 0;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.5;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;

}